<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="iJob2019.Properties.Settings.HenryBooksConnectionString"
      connectionString="Data Source=DODGER\SQLEXPRESS;Initial Catalog=HenryBooks;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="iJob2019.Properties.Settings.iJobConnectionString"
      connectionString="Data Source=DODGER\SQLEXPRESS;Initial Catalog=iJob;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="iJobEntitiesModel" connectionString="metadata=res://*/modelJobRequets.csdl|res://*/modelJobRequets.ssdl|res://*/modelJobRequets.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DODGER\SQLEXPRESS;initial catalog=iJob;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="iJob2019.Properties.Settings.iJobDatabaseConnectionString"
      connectionString="Data Source=ijobsrvr.database.windows.net;Initial Catalog=iJobDatabase;User ID=ijob;Password=Tanya@dodger12"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <!--Added  the bottom code to allow for Job placement API code to work-->

</configuration>